/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    font-family: Arial, sans-serif;
}

/* header */
header {
    background-color: #333;
    color: white;
}

/* header title */
header h1 {
    padding: 2rem;
}

/* navigation */
.navigation {
    display: flex;
    list-style: none;
    background-color: black;
    margin: 0;
    padding: 0;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

.navigation a:hover {
    color: red;
    text-decoration: underline;
}

/* main layout */
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* main content */
.main-content {
    background-color: #ccc;
    height: 300px;
    padding: 1rem;
}

/* aside */
aside {
    background-color: #eee;
    padding: 1rem;
}

/* footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2rem;
    height: 100px;
}

/* headings */
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
}