body {
    font-family: 'Roboto', sans-serif;

    margin: 0;
}

/* Header, Main, Footer */
header,
main,
footer {
    max-width: 640px;

    margin: 1rem auto;

    border: 1px solid #bbb;

    padding: 1rem;

    background-color: #e6f2ff;
}

/* Main Grid */
main {
    display: grid;

    grid-template-columns: 1fr;

    gap: 1rem;
}

/* Sections */
section {
    padding: 1rem;

    background-color: white;

    border: 1px solid #ccc;
}